$primary: #6f42c1; // Cambia el color primario
$secondary: #20c997;
$success: #198754;

$font-family-base: 'Segoe UI', sans-serif;
$body-bg: #f8f9fa;
$body-color: #212529;

$btn-border-radius: 0.75rem;
$btn-padding-y: 0.7rem;
$btn-padding-x: 1.5rem;